/* Grilla.css */

.grilla-container {
  width: 60%;
    margin-left: 20px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
  }
  
  /* Puedes agregar más estilos según sea necesario */
  