.containerpadre {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 28, 235);
    padding: 10px;
}


.row1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


.col-uno-uno{
    margin: 5px;
}


.producto-label{
    font-size: 25px; 
    font-weight: bold; 
    color:#ffffff
}


.NoProduct{
    color: #ffffff;
}



.col-uno-dos {
    margin: 2px;
    margin-top: 1px;
}


.texto-precio {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 94, 0);
    padding: 10px;
    border-radius: 4px;
}

.texto-dinero {
    background-color: orange;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 3px;
    margin-left: 5px;
}


.col-uno-tres{
   
    margin: 5px;
    background-color: orange;
    color: #ffffff;
    padding: 10px;
    align-items: center;
    border-radius: 4px;
    position: relative;
    left: 28%;
}
.icono-carrito{
    font-size: 20px;
}
.texto-periodo{
    font-size: 20px;
    
}
.lbl{
    font-size: 20px; 
    font-weight: bold; 

}

.row2 {
    
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.col-dos-uno{
    
    background-color: rgb(255, 106, 0);
    padding: 2%;
    margin: 5px;

}
.col-dos-dos{
    
    background-color: rgb(255, 106, 0);
    padding: 2%;
    margin: 5px;


}
.col-dos-tres{
    
    background-color: rgb(255, 106, 0);
    padding: 2%;
    margin: 5px;


}

.subcontainer{
    display: flex;
    flex-direction: column;
}