

/* Ajustes para el input de búsqueda */
.search-container .form-control {
    width: 300px;
    font-size: 16px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 15px;
}

/* Ajustes para el botón de búsqueda */
.search-container .search-button {
    font-size: 16px;
    font-weight: bold;
    background-color: #000;
    border: 2px solid #000;
    height: 40px;
    cursor: pointer;
}

.search-container .search-button:hover,
.search-container .search-button:active {
    background-color: #333;
    border: 2px solid #333;
    color: white;
}
