/* Estilos generales */
.App {
    display: grid;
    place-items: center;
}

.btn-container {
    text-align: left;
}

.centered-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos específicos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
    .btn-container {
        text-align: center; /* Centra el botón en pantallas más pequeñas */
    }

    /* Otros estilos específicos para pantallas más pequeñas */
}