/* Estilos generales */
.App {
    display: grid;
    place-items: center;
    height: 100vh;
}

/* Estilos para los botones en pantallas m치s peque침as */
.btn-container {
    display: flex;
    justify-content: space-between;
  }
  
/* Estilos para los botones */
.acciones-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Ajuste para pantallas m치s peque침as */
@media screen and (max-width: 768px) {
    .grid-container {
       grid-template-columns: 1fr;
    }
}

.acciones-container {
    flex-direction: row;
}